{% extends 'common/base.html' %}
{% load static %}
{% load widget_tweaks %}

<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">


    {% block contents %}



        <div class="content">
            <h2 class="mb-4">Create a project</h2>
{% if messages %}
  <div>
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </div>
{% endif %}
            <div class="row">
                <div class="col-xl-9">
                    <form method="post" class="row g-3 mb-6">
                        {% csrf_token %}
                        <div class="col-sm-6 col-md-8">
                            <div class="form-floating">
                                <div class="form-floating">
                                    {{ form.title|add_class:"form-control" }}
                                    <label for="{{ form.title.id_for_label }}">Project title</label>
                                    {{ form.title.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-floating">
                                {{ form.project_category|add_class:"form-select" }}
                                <label for="{{ form.project_category.id_for_label }}">Select Category</label>
                                {{ form.project_category.errors }}
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelectAdmin">
                                    <option selected="selected">Select admin</option>
                                    <option value="1">Data Privacy One</option>
                                    <option value="2">Data Privacy Two</option>
                                    <option value="3">Data Privacy Three</option>
                                </select>
                                <label for="floatingSelectAdmin">Project Lead</label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-floating">
                                {{ form.created_at|add_class:"form-control datetimepicker" }}
                                <label for="{{ form.created_at.id_for_label }}">Start Date</label>
                                {{ form.created_at.errors }}
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="form-floating">
                                {{ form.deadline|add_class:"form-control datetimepicker" }}
                                <label for="{{ form.deadline.id_for_label }}">Deadline</label>
                                {{ form.deadline.errors }}
                            </div>
                        </div>
                        <div class="col-12 gy-6">
                            <div class="form-floating">
                                {{ form.description|add_class:"form-control" }}
                                <label for="{{ form.description.id_for_label }}">Project description</label>
                                {{ form.description.errors }}
                            </div>
                        </div>
                        <div class="col-md-6 gy-6">
                            <div class="form-floating">
                                <input class="form-control" id="floatingInputBudget" type="text" placeholder="Budget"/>
                                <label for="floatingInputBudget">Budget</label>
                            </div>
                        </div>
                        <div class="col-12 gy-6">
                            <div class="form-floating form-floating-advance-select">
                                <label>Add tags</label>
                                <select class="form-select" id="organizerMultiple" data-choices="data-choices"
                                        multiple="multiple" data-options='{"removeItemButton":true,"placeholder":true}'>
                                    <option selected="selected">Stupidity</option>
                                    <option>Jerry</option>
                                    <option>Not_the_mouse</option>
                                    <option>Rick</option>
                                    <option>Biology</option>
                                    <option>Neurology</option>
                                    <option>Brainlessness</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 gy-6">
                            <div class="row g-3 justify-content-end">
                                <div class="col-auto">
                                    <button class="btn btn-phoenix-primary px-5">Cancel</button>
                                </div>
                                <div class="col-auto">
                                    <button type=submit class="btn btn-primary px-5 px-sm-15">Create Project</button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


{#            <h2 class="mb-4">Create a project</h2>#}
{#            <div class="row">#}
{#                <div class="col-xl-9">#}
{#                    <form method="post" class="row g-3 mb-6">#}
{#                        {% csrf_token %}#}
{#                        {{ form.as_p }}#}
{#                        <div class="row g-3 justify-content-end">#}
{#                            <div class="col-auto">#}
{#                                <button type="button" class="btn btn-phoenix-primary px-5">Cancel</button>#}
{#                            </div>#}
{#                            <div class="col-auto">#}
{#                                <button type="submit" class="btn btn-primary px-5 px-sm-15">Create Project</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}

        </div>


        </main>

    {% endblock contents %}