{% extends 'common/base.html' %}
{% load static %}
{% load widget_tweaks %}

<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">

    {% block contents %}

        <div class="content">
            <div class="mb-9">
                <div id="projectSummary"
                     data-list='{"valueNames":["projectName","assignees","start","deadline","task","projectprogress","status","action"],"page":6,"pagination":true}'>
                    <div class="row mb-4 gx-6 gy-3 align-items-center">
                        <div class="col-auto">
                            <h2 class="mb-0">Projects List<span class="fw-normal text-body-tertiary ms-3">(32)</span>
                            </h2>
                        </div>
                        <div class="col-auto"><a class="btn btn-primary px-5"
                                                 href="{% url 'projects:project_create' %}"><i
                                class="fa-solid fa-plus
              me-2"></i>Add
                            new project</a></div>
                    </div>
                    <div class="row g-3 justify-content-between align-items-end mb-4">
                        <div class="col-12 col-sm-auto">
                            <ul class="nav nav-links mx-n2">
                                <li class="nav-item"><a class="nav-link px-2 py-1 active" aria-current="page"
                                                        href="#"><span>All</span><span
                                        class="text-body-tertiary fw-semibold">(32)</span></a></li>
                                <li class="nav-item"><a class="nav-link px-2 py-1" href="#"><span>Ongoing</span><span
                                        class="text-body-tertiary fw-semibold">(14)</span></a></li>
                                <li class="nav-item"><a class="nav-link px-2 py-1" href="#"><span>Cancelled</span><span
                                        class="text-body-tertiary fw-semibold">(2)</span></a></li>
                                <li class="nav-item"><a class="nav-link px-2 py-1" href="#"><span>Finished</span><span
                                        class="text-body-tertiary fw-semibold">(14)</span></a></li>
                                <li class="nav-item"><a class="nav-link px-2 py-1" href="#"><span>Postponed</span><span
                                        class="text-body-tertiary fw-semibold">(2)</span></a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-auto">
                            <div class="d-flex align-items-center">
                                <div class="search-box me-3">
                                    <form class="position-relative">
                                        <input class="form-control search-input search" type="search"
                                               placeholder="Search projects" aria-label="Search"/>
                                        <span class="fas fa-search search-box-icon"></span>

                                    </form>
                                </div>
                                <a class="btn btn-phoenix-primary px-3 me-1 border-0 text-body"
                                   href="../../apps/project-management/project-list-view.html" data-bs-toggle="tooltip"
                                   data-bs-placement="top" data-bs-title="List view"><span
                                        class="fa-solid fa-list fs-10"></span></a><a
                                    class="btn btn-phoenix-primary px-3 me-1"
                                    href="../../apps/project-management/project-board-view.html"
                                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Board view">
                                <svg width="9" height="9" viewbox="0 0 9 9" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0.5C0 0.223857 0.223858 0 0.5 0H1.83333C2.10948 0 2.33333 0.223858 2.33333 0.5V1.83333C2.33333 2.10948 2.10948 2.33333 1.83333 2.33333H0.5C0.223857 2.33333 0 2.10948 0 1.83333V0.5Z"
                                          fill="currentColor"></path>
                                    <path d="M3.33333 0.5C3.33333 0.223857 3.55719 0 3.83333 0H5.16667C5.44281 0 5.66667 0.223858 5.66667 0.5V1.83333C5.66667 2.10948 5.44281 2.33333 5.16667 2.33333H3.83333C3.55719 2.33333 3.33333 2.10948 3.33333 1.83333V0.5Z"
                                          fill="currentColor"></path>
                                    <path d="M6.66667 0.5C6.66667 0.223857 6.89052 0 7.16667 0H8.5C8.77614 0 9 0.223858 9 0.5V1.83333C9 2.10948 8.77614 2.33333 8.5 2.33333H7.16667C6.89052 2.33333 6.66667 2.10948 6.66667 1.83333V0.5Z"
                                          fill="currentColor"></path>
                                    <path d="M0 3.83333C0 3.55719 0.223858 3.33333 0.5 3.33333H1.83333C2.10948 3.33333 2.33333 3.55719 2.33333 3.83333V5.16667C2.33333 5.44281 2.10948 5.66667 1.83333 5.66667H0.5C0.223857 5.66667 0 5.44281 0 5.16667V3.83333Z"
                                          fill="currentColor"></path>
                                    <path d="M3.33333 3.83333C3.33333 3.55719 3.55719 3.33333 3.83333 3.33333H5.16667C5.44281 3.33333 5.66667 3.55719 5.66667 3.83333V5.16667C5.66667 5.44281 5.44281 5.66667 5.16667 5.66667H3.83333C3.55719 5.66667 3.33333 5.44281 3.33333 5.16667V3.83333Z"
                                          fill="currentColor"></path>
                                    <path d="M6.66667 3.83333C6.66667 3.55719 6.89052 3.33333 7.16667 3.33333H8.5C8.77614 3.33333 9 3.55719 9 3.83333V5.16667C9 5.44281 8.77614 5.66667 8.5 5.66667H7.16667C6.89052 5.66667 6.66667 5.44281 6.66667 5.16667V3.83333Z"
                                          fill="currentColor"></path>
                                    <path d="M0 7.16667C0 6.89052 0.223858 6.66667 0.5 6.66667H1.83333C2.10948 6.66667 2.33333 6.89052 2.33333 7.16667V8.5C2.33333 8.77614 2.10948 9 1.83333 9H0.5C0.223857 9 0 8.77614 0 8.5V7.16667Z"
                                          fill="currentColor"></path>
                                    <path d="M3.33333 7.16667C3.33333 6.89052 3.55719 6.66667 3.83333 6.66667H5.16667C5.44281 6.66667 5.66667 6.89052 5.66667 7.16667V8.5C5.66667 8.77614 5.44281 9 5.16667 9H3.83333C3.55719 9 3.33333 8.77614 3.33333 8.5V7.16667Z"
                                          fill="currentColor"></path>
                                    <path d="M6.66667 7.16667C6.66667 6.89052 6.89052 6.66667 7.16667 6.66667H8.5C8.77614 6.66667 9 6.89052 9 7.16667V8.5C9 8.77614 8.77614 9 8.5 9H7.16667C6.89052 9 6.66667 8.77614 6.66667 8.5V7.16667Z"
                                          fill="currentColor"></path>
                                </svg>
                            </a><a class="btn btn-phoenix-primary px-3"
                                   href="../../apps/project-management/project-card-view.html" data-bs-toggle="tooltip"
                                   data-bs-placement="top" data-bs-title="Card view">
                                <svg width="9" height="9" viewBox="0 0 9 9" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0.5C0 0.223858 0.223858 0 0.5 0H3.5C3.77614 0 4 0.223858 4 0.5V3.5C4 3.77614 3.77614 4 3.5 4H0.5C0.223858 4 0 3.77614 0 3.5V0.5Z"
                                          fill="currentColor"></path>
                                    <path d="M0 5.5C0 5.22386 0.223858 5 0.5 5H3.5C3.77614 5 4 5.22386 4 5.5V8.5C4 8.77614 3.77614 9 3.5 9H0.5C0.223858 9 0 8.77614 0 8.5V5.5Z"
                                          fill="currentColor"></path>
                                    <path d="M5 0.5C5 0.223858 5.22386 0 5.5 0H8.5C8.77614 0 9 0.223858 9 0.5V3.5C9 3.77614 8.77614 4 8.5 4H5.5C5.22386 4 5 3.77614 5 3.5V0.5Z"
                                          fill="currentColor"></path>
                                    <path d="M5 5.5C5 5.22386 5.22386 5 5.5 5H8.5C8.77614 5 9 5.22386 9 5.5V8.5C9 8.77614 8.77614 9 8.5 9H5.5C5.22386 9 5 8.77614 5 8.5V5.5Z"
                                          fill="currentColor"></path>
                                </svg>
                            </a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive scrollbar">
                        <table class="table fs-9 mb-0 border-top border-translucent">
                            <thead>
                            <tr>
                                <th class="sort white-space-nowrap align-middle ps-0" scope="col"
                                    data-sort="projectName" style="width:30%;">PROJECT NAME
                                </th>
                                <th class="sort align-middle ps-3" scope="col" data-sort="assignees" style="width:10%;">
                                    CATEGORY
                                </th>
                                <th class="sort align-middle ps-3" scope="col" data-sort="start" style="width:10%;">
                                    START DATE
                                </th>
                                <th class="sort align-middle ps-3" scope="col" data-sort="deadline" style="width:15%;">
                                    DEADLINE
                                </th>
                                <th class="sort align-middle ps-3" scope="col" data-sort="task" style="width:12%;">
                                    TASK #
                                </th>
                                <th class="sort align-middle ps-3" scope="col" data-sort="projectprogress"
                                    style="width:5%;">PROGRESS
                                </th>
                                <th class="sort align-middle text-end" scope="col" data-sort="statuses"
                                    style="width:10%;">STATUS
                                </th>
                                <th class="sort align-middle text-end" scope="col" style="width:10%;"></th>
                            </tr>
                            </thead>
                            <tbody class="list" id="project-list-table-body">
                            <tr class="position-static">
                                {% for proj in projects %}
                                    <td class="align-middle time white-space-nowrap ps-0 projectName py-4"><a
                                            class="fw-bold fs-8"
                                            href="#">
                                        {{ proj.title }}</a></td>
                                    <td class="align-middle white-space-nowrap start ps-3 py-4">
                                        <p class="mb-0 fs-9 text-body">{{ proj.project_category }}</p>
                                    </td>
                                    <td class="align-middle white-space-nowrap start ps-3 py-4">
                                        <p class="mb-0 fs-9 text-body">{{ proj.created_at }}</p>
                                    </td>
                                    <td class="align-middle white-space-nowrap deadline ps-3 py-4">
                                        <p class="mb-0 fs-9 text-body">{{ proj.deadline }}</p>
                                    </td>
                                    <td class="align-middle white-space-nowrap task ps-3 py-4">
                                        <p class="fw-bo text-body fs-9 mb-0">tast number</p>
                                    </td>
                                    <td class="align-middle white-space-nowrap ps-3 projectprogress">
                                        <p class="text-body-secondary fs-10 mb-0">compelte task/total task</p>
                                        <div class="progress" style="height:3px;">
                                            <div class="progress-bar bg-success" style="width: 100%" role="progressbar"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td class="align-middle white-space-nowrap text-end statuses"><span
                                            class="badge badge-phoenix fs-10 badge-phoenix-success">completed</span>
                                    </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs-9 border-bottom border-translucent">
                        <div class="d-flex">
                            <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body"
                               data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View
                            all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a
                                class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span
                                class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                        </div>
                        <div class="d-flex">
                            <button class="page-link" data-list-pagination="prev"><span
                                    class="fas fa-chevron-left"></span></button>
                            <ul class="mb-0 pagination"></ul>
                            <button class="page-link pe-0" data-list-pagination="next"><span
                                    class="fas fa-chevron-right"></span></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal fade" id="searchBoxModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="true"
             data-phoenix-modal="data-phoenix-modal" style="--phoenix-backdrop-opacity: 1;">
            <div class="modal-dialog">
                <div class="modal-content mt-15 rounded-pill">
                    <div class="modal-body p-0">
                        <div class="search-box navbar-top-search-box" data-list='{"valueNames":["title"]}'
                             style="width: auto;">
                            <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                                <input class="form-control search-input fuzzy-search rounded-pill form-control-lg"
                                       type="search" placeholder="Search..." aria-label="Search"/>
                                <span class="fas fa-search search-box-icon"></span>

                            </form>
                            <div class="btn-close position-absolute end-0 top-50 translate-middle cursor-pointer shadow-none"
                                 data-bs-dismiss="search">
                                <button class="btn btn-link p-0" aria-label="Close"></button>
                            </div>
                            <div class="dropdown-menu border start-0 py-0 overflow-hidden w-100">
                                <div class="scrollbar-overlay" style="max-height: 30rem;">
                                    <div class="list pb-3">
                                        <h6 class="dropdown-header text-body-highlight fs-10 py-2">24 <span
                                                class="text-body-quaternary">results</span></h6>
                                        <hr class="my-0"/>
                                        <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">
                                            Recently Searched </h6>
                                        <div class="py-2"><a class="dropdown-item"
                                                             href="../../apps/e-commerce/landing/product-details.html">
                                            <div class="d-flex align-items-center">

                                                <div class="fw-normal text-body-highlight title"><span
                                                        class="fa-solid fa-clock-rotate-left"
                                                        data-fa-transform="shrink-2"></span> Store Macbook
                                                </div>
                                            </div>
                                        </a>
                                            <a class="dropdown-item"
                                               href="../../apps/e-commerce/landing/product-details.html">
                                                <div class="d-flex align-items-center">

                                                    <div class="fw-normal text-body-highlight title"><span
                                                            class="fa-solid fa-clock-rotate-left"
                                                            data-fa-transform="shrink-2"></span> MacBook Air - 13″
                                                    </div>
                                                </div>
                                            </a>

                                        </div>
                                        <hr class="my-0"/>
                                        <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">
                                            Products</h6>
                                        <div class="py-2"><a class="dropdown-item py-2 d-flex align-items-center"
                                                             href="../../apps/e-commerce/landing/product-details.html">
                                            <div class="file-thumbnail me-2"><img
                                                    class="h-100 w-100 object-fit-cover rounded-3"
                                                    src="../../assets/img/products/60x60/3.png" alt=""/></div>
                                            <div class="flex-1">
                                                <h6 class="mb-0 text-body-highlight title">MacBook Air - 13″</h6>
                                                <p class="fs-10 mb-0 d-flex text-body-tertiary"><span
                                                        class="fw-medium text-body-tertiary text-opactity-85">8GB Memory - 1.6GHz - 128GB Storage</span>
                                                </p>
                                            </div>
                                        </a>
                                            <a class="dropdown-item py-2 d-flex align-items-center"
                                               href="../../apps/e-commerce/landing/product-details.html">
                                                <div class="file-thumbnail me-2"><img class="img-fluid"
                                                                                      src="../../assets/img/products/60x60/3.png"
                                                                                      alt=""/></div>
                                                <div class="flex-1">
                                                    <h6 class="mb-0 text-body-highlight title">MacBook Pro - 13″</h6>
                                                    <p class="fs-10 mb-0 d-flex text-body-tertiary"><span
                                                            class="fw-medium text-body-tertiary text-opactity-85">30 Sep at 12:30 PM</span>
                                                    </p>
                                                </div>
                                            </a>

                                        </div>
                                        <hr class="my-0"/>
                                        <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">
                                            Quick Links</h6>
                                        <div class="py-2"><a class="dropdown-item"
                                                             href="../../apps/e-commerce/landing/product-details.html">
                                            <div class="d-flex align-items-center">

                                                <div class="fw-normal text-body-highlight title"><span
                                                        class="fa-solid fa-link text-body"
                                                        data-fa-transform="shrink-2"></span> Support MacBook House
                                                </div>
                                            </div>
                                        </a>
                                            <a class="dropdown-item"
                                               href="../../apps/e-commerce/landing/product-details.html">
                                                <div class="d-flex align-items-center">

                                                    <div class="fw-normal text-body-highlight title"><span
                                                            class="fa-solid fa-link text-body"
                                                            data-fa-transform="shrink-2"></span> Store MacBook″
                                                    </div>
                                                </div>
                                            </a>

                                        </div>
                                        <hr class="my-0"/>
                                        <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">
                                            Files</h6>
                                        <div class="py-2"><a class="dropdown-item"
                                                             href="../../apps/e-commerce/landing/product-details.html">
                                            <div class="d-flex align-items-center">

                                                <div class="fw-normal text-body-highlight title"><span
                                                        class="fa-solid fa-file-zipper text-body"
                                                        data-fa-transform="shrink-2"></span> Library MacBook folder.rar
                                                </div>
                                            </div>
                                        </a>
                                            <a class="dropdown-item"
                                               href="../../apps/e-commerce/landing/product-details.html">
                                                <div class="d-flex align-items-center">

                                                    <div class="fw-normal text-body-highlight title"><span
                                                            class="fa-solid fa-file-lines text-body"
                                                            data-fa-transform="shrink-2"></span> Feature MacBook
                                                        extensions.txt
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="dropdown-item"
                                               href="../../apps/e-commerce/landing/product-details.html">
                                                <div class="d-flex align-items-center">

                                                    <div class="fw-normal text-body-highlight title"><span
                                                            class="fa-solid fa-image text-body"
                                                            data-fa-transform="shrink-2"></span> MacBook Pro_13.jpg
                                                    </div>
                                                </div>
                                            </a>

                                        </div>
                                        <hr class="my-0"/>
                                        <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">
                                            Members</h6>
                                        <div class="py-2"><a class="dropdown-item py-2 d-flex align-items-center"
                                                             href="../../pages/members.html">
                                            <div class="avatar avatar-l status-online  me-2 text-body">
                                                <img class="rounded-circle " src="../../assets/img/team/40x40/10.webp"
                                                     alt=""/>

                                            </div>
                                            <div class="flex-1">
                                                <h6 class="mb-0 text-body-highlight title">Carry Anna</h6>
                                                <p class="fs-10 mb-0 d-flex text-body-tertiary">anna@technext.it</p>
                                            </div>
                                        </a>
                                            <a class="dropdown-item py-2 d-flex align-items-center"
                                               href="../../pages/members.html">
                                                <div class="avatar avatar-l  me-2 text-body">
                                                    <img class="rounded-circle "
                                                         src="../../assets/img/team/40x40/12.webp" alt=""/>

                                                </div>
                                                <div class="flex-1">
                                                    <h6 class="mb-0 text-body-highlight title">John Smith</h6>
                                                    <p class="fs-10 mb-0 d-flex text-body-tertiary">
                                                        smith@technext.it</p>
                                                </div>
                                            </a>

                                        </div>
                                        <hr class="my-0"/>
                                        <h6 class="dropdown-header text-body-highlight fs-9 border-bottom border-translucent py-2 lh-sm">
                                            Related Searches</h6>
                                        <div class="py-2"><a class="dropdown-item"
                                                             href="../../apps/e-commerce/landing/product-details.html">
                                            <div class="d-flex align-items-center">

                                                <div class="fw-normal text-body-highlight title"><span
                                                        class="fa-brands fa-firefox-browser text-body"
                                                        data-fa-transform="shrink-2"></span> Search in the Web MacBook
                                                </div>
                                            </div>
                                        </a>
                                            <a class="dropdown-item"
                                               href="../../apps/e-commerce/landing/product-details.html">
                                                <div class="d-flex align-items-center">

                                                    <div class="fw-normal text-body-highlight title"><span
                                                            class="fa-brands fa-chrome text-body"
                                                            data-fa-transform="shrink-2"></span> Store MacBook″
                                                    </div>
                                                </div>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <p class="fallback fw-bold fs-7 d-none">No Result Found.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        </main>
        <!-- ===============================================-->
        <!--    End of Main Content-->
        <!-- ===============================================-->
    {% endblock contents %}
<script>
    document.querySelectorAll('[data-list-view="*"], [data-list-view="less"]').forEach(function (link) {
        link.addEventListener('click', function (e) {
            e.preventDefault();
            document.querySelector('[data-list-view="*"]').classList.toggle('d-none');
            document.querySelector('[data-list-view="less"]').classList.toggle('d-none');
            // Add your logic to expand/collapse the list here
        });
    });
</script>