<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">{{ item }}</h4>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Successfully {{ action }} the {{ item }}</p>
</div>
<div class="modal-footer"></div>
<script>
    setTimeout(function () {
        var modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('myModal'));
        modal.hide();
    }, 1000);

    document.getElementById('myModal').addEventListener('hidden.bs.modal', function () {
        location.reload(true);
    });
</script>