<!DOCTYPE html>
{% load static %}
{% load menu_tags %}
<html>
<head>
    {% include 'common/styles.html' %}

    {%block custom_cssjs %}

    {% endblock %}

    <title>CLEAR {% block page_title %} {% endblock %} </title>
</head>
<body class="content">
    {% block topnav %}
        {% include 'common/topnavigation.html' %}
    {% endblock %}
    <div class="container-fluid">
        <div class="row">
               {% if user.is_authenticated %}
               <div class="panel-group col-sm-3 col-md-2 col-lg-2 sidebar" id="accordion">
                <!--{% block leftnav %}-->
                    <!--{% nav_categorylist %}-->
                <!--{% endblock %}-->
               </div>
              {% endif %}
              <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 main">
                {% block content %}

                {% endblock %}
              </div>
        </div>
    </div>
    {% block footer %}
    <div class="clearfix"></div>
    <div id="footer">
        <div class="footer-container">
        <!--
         <p>
        Developed by CRI
        </p>  -->
        </div>
    </div>
    {% endblock %}

</body>
</html>